:root {
  --main-padding: 10rem;
  --calendar-gap: 1rem;
  --calendar-columns: 6;
  --calendar-border-color: #ebebeb;
  --calendar-bg-color-open: #fff;
  --calendar-bg-color-closed: #f3f3f3;
  --calendar-bg-color-highlight: #95e7c5;
  --calendar-font-color-open: #1e1e1e;
  --calendar-font-color-closed: #c3c3c3;
}