$main-padding: 10rem;

$calendar-gap: 1rem;
$calendar-columns: 6;
$calendar-border-color: #ebebeb;
$calendar-bg-color-open: #fff;
$calendar-bg-color-closed: #f3f3f3;
$calendar-bg-color-highlight: #95e7c5;
$calendar-text-color-open: #1e1e1e;
$calendar-text-color-opened: #1e1e1e;
$calendar-text-color-closed: #c3c3c3;

$slot-font-size-time: 0.75rem;
$slot-box-shadow-primary: #f3f3f3;
$slot-box-shadow-secondary: #ebebeb;

$christmas-darkgreen:#165B33;
$christmas-green: #146B3A;
$christmas-orange:#F8B229;
$christmas-cinnabar:#EA4630;
$christmas-firebrick: #BB2528;
